    
   <div class="row">
		 
       <div class="col-sm-1 col-md-1">
       </div>
       <div class="col-sm-2 col-md-2">
           <div ng-include='"templates/sidenav.html"'></div>
       </div>
       <div class="col-sm-8 col-md-8">
           <div class="panel panel-primary">
               <div class="panel-heading"><h4 class="panel-title"><h4>SRA Tool - a Security Risk Assessment Tool - </h4></div>
               <div class="panel-body" style="text-align: left;">
                   <p>
                       A Security Risk Assessment is a structured, repeatable method for evaluating the potential security risk of a product/service and assigning appropriate security activities.</p>
                   <p>
                      
                   </p>


                   <p><div style="color:red; float:left; font-weight:bold;">
                      It is recommended to perform this risk assessment with a Security expert. </div>
                       </p>

                   <p>Based on the risk determined by the SRA, a Set of activities will be suggested to help with the mitigation of the risk evaluated</p>

                   <br/><br/>
                   <p><b> The actors/stake holders</b> </p>
                   <table class="table table-bordered table-striped table-intel" style="font-size:smaller; color:#05487E;">
                       <thead >
                           <tr>
                            <!--   <th scope="col">#</th>-->
                               <th scope="col">Process</th>
                               <th  style="text-align:center;" scope="col">Owner</th>
                               <th  style="text-align:center;" scope="col">Activity</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                           <!--    <th class="danger" scope="row">1</th>-->
                               <td>Step 1</td>
                               <td>Project Owner​</td>
                               <td>Register <b>the Project</b>   </a> .</td>
                           </tr>
                          
                           <tr>
                            <!--   <th class="info" scope="row">3</th>-->
                               <td>Step 2</td>
                               <td >Project Managers, Architects, Developers, Security Experts (Depending on the size of the project one person may have mutiple responsabilities) </td>
                               <td><b>Complete and save the Security Risk Assessment</b> for the registered project.<br/></br>

                                <span style="color:red;"></span> </td>
                           </tr>
                           <tr>
                           <!--    <th class="success" scope="row">4</th>-->
                               <td>Step 3</td>
                               <td>Security engineer / Security Expert</td>
                               <td ><b>Assign</b>  activities based on recommended project security risk.</td>
                           </tr>
                           <tr>
                               <!--    <th class="danger" scope="row">1</th>-->
                               <td>Step 4</td>
                               <td>Project Managers, Architects, Developers, Security Experts</td>
                               <td><b>Complete the assigned security activities</b>.</td>
                           </tr>
                            
                        
                       </tbody>
                   </table>
               </div>
           </div>
       </div> 
	</div>


        