

<footer style="padding-top:30px;" class="text-right">

    <div class="row">
        <div class="col-sm-4 col-md-4">
            <!-- <div ng-include='"templates/sidenav.html"'></div> -->
        </div>
       
        <div class="col-xs-4 col-md-2">
           
        </div>
        <div class="col-xs-4 col-md-2">
            <p>Security Risk Assessment Tool Team</p>
            <ul>
                <li><a href="mailto:ricardo.mundo.mendez@intel.com">Send us an email</a></li>
                <li><span class="pull-right">© Intel Corporation 2019</span></li>
               
            </ul>
        </div>
        
    </div>
</footer> 
