    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
	  <div class="container-fluid" ng-controller="headerCtrl">
		<!-- App name and toggle get grouped for better mobile display -->
		<div class="sra-navbar-panelheader">        
            <img class="navbar-logo" ng-src="images/sra-logo.jpg">
          <a class="sra-navbar-header navbar-brand" href="index.html">{{titleApp}}</a>
        </div>						 		  
	<!-- Menu ITEMS loading dynamically 
		<div class="collapse navbar-collapse" >
			<ul class="nav navbar-nav navbar-right">
			   
			  <li class="" ng-repeat="item in menuItems">
				<a href={{item.reflink}}>{{item.item}}</a>
			  </li>	
                <li><a href="">{{token.displayName}}</a> </li>						
		   </ul>
		</div> -->
	  </div>
    </nav>
	
 
